<div class="container" >
  <div *ngFor="let book of books" class="w-25 p-3 h-25 d-inline-block" >

    <table class="table table-borderless">
      <tbody class="text-center">
      <tr>
        <td routerLink="/../../welcome/books/{{book.title}}"><img src="assets/books/{{book.fileName}}" class="rounded mx-auto d-block" width="180" height="280"></td>
      </tr>
      <tr>
        <td routerLink="/../../welcome/books/{{book.title}}" class="font-weight-bold">{{book.title}}</td>
      </tr>
      <tr>
        <td>{{book.author}}</td>
      </tr>
      <tr>
        <td class="font-weight-bold text-danger">{{book.price}} zł</td>
      </tr>
      <tr>
        <td><button class="btn btn-danger btn-lg btn-block"><img src="assets/img/shopping_cart-24px.png"></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
