<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/welcome/{{category.categoryName}}" *ngFor="let category of categories">{{category.categoryName}}</a>
        </div>
      </div>
        <ul class="navbar-nav">
            <li><a routerLink="/welcome" class="nav-link">Home</a></li>
            <li><a routerLink="/admin" class="nav-link">Admin</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>


<!--routerLink="/welcome/{{category.categoryName}}"-->
