<h1>List of cover types</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>    
        <tbody>
            <tr *ngFor="let coverType of coverTypes">
                <td>{{coverType.name}}</td>
                <td><button (click) = "updateCoverType(coverType.name)" class="btn btn-success">Update</button></td>
                <td><button (click) = "deleteCoverType(coverType.name)" class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <button (click) = "createCoverType()" class="btn btn-primary">Create</button>
    </div>

</div>
