<div class="container">
    <h3>Category</h3>
    <form (ngSubmit)="saveCategory()">
        <fieldset class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" name="categoryName" required="required" [(ngModel)] = "category.categoryName">
            <div class="alert alert-danger" role="alert" *ngIf="errorMassage">
                {{errorMassage}}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
